<mat-sidenav-container  fullscreen>
    <mat-sidenav  #snav mode="push">
        <mat-toolbar color="primary">
            <span>Menu</span>
            <span class="spacer"></span>
            <button mat-icon-button
                    (click)="snav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>
        <mat-nav-list>
            <a routerLink="/"
               mat-list-item
               (click)="snav.toggle()">
                <mat-icon color="primary" mat-list-icon>person</mat-icon>
                <span>Users</span>
            </a>
            <a routerLink="/"
               mat-list-item
               (click)="snav.toggle()">
                <mat-icon color="primary" mat-list-icon>emergency</mat-icon>
                <span>Hospitals</span>
            </a>
            <a routerLink="/"
               mat-list-item
               (click)="snav.toggle()">
                <mat-icon color="primary" mat-list-icon>medication</mat-icon>
                <span>Doctors</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-toolbar color="primary">
        <button mat-icon-button
                (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar>
</mat-sidenav-container>