<mat-toolbar color="primary">
    <button mat-icon-button (click)="snav.close()" *ngIf="snav.opened">
        <mat-icon>close</mat-icon>
    </button>
    <button mat-icon-button (click)="snav.open()" *ngIf="!snav.opened">
        <mat-icon >menu</mat-icon>
    </button>
    <span><b>Admin</b>Pro</span>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav color="primary" #snav >
        <img class="avatar mat-elevation-z8" src="./assets/pro.png" alt="">
        <mat-nav-list>
            <span>
                <mat-icon><img src="/assets/andres.jpg" alt="photo user" class="photo-user"></mat-icon> Andres Felipe Rivera
            </span>
    
            <mat-divider></mat-divider>
            <mat-list-item (click)="trigge.openMenu()" class="text-left">
                <p mat-line class="content-center"><mat-icon class="mr-2 align-middle" color="primary">person</mat-icon>Profile</p>
                <button mat-icon-button
                        #trigge="matMenuTrigger"
                        [mat-menu-trigger-for]="men">
                    <mat-icon>chevron_right</mat-icon>
                </button>
            </mat-list-item>
            <mat-menu #men="matMenu">
                <button mat-menu-item>change</button>
                <button mat-menu-item>color</button>
            </mat-menu>
            <mat-list-item (click)="trigger.openMenu()"
                           class="text-left">
                <p mat-line class="content-center"><mat-icon class="mr-2 align-middle" color="primary">settings</mat-icon>Manteinance</p>
                <button mat-icon-button 
                        #trigger=matMenuTrigger 
                        [matMenuTriggerFor]="menu">
                    <mat-icon>chevron_right</mat-icon>
                </button>
            </mat-list-item>
            <mat-menu #menu="matMenu">
                <a mat-menu-item (click)="snav.close()" routerLink="./users">user</a>
                <a mat-menu-item (click)="snav.close()" routerLink="./doctors">doctor</a>
                <a mat-menu-item (click)="snav.close()" routerLink="./hospitals">hospital</a>
            </mat-menu>
    
        </mat-nav-list>
    </mat-sidenav>
   
    <div style="height: 90vh" class="container px-5  mx-auto max-w-7xl">
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>