table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}


td,
th {
  width: 17%;
}

td, th {
  text-align: center !important;
  vertical-align: middle !important;
  }
  :host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
  }

.mat-column-avatar {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 9% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.avatar {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0 auto;  
}